/*
 * This stylesheet is for the GlobalFeed admin section. It styles the wrapper for all feeds
 * as well.
 *
*/
#modal_bug_report{
    display:none;
    background-color:white;
}
#mbgf_logo{
    float: left;
    margin-right: 5px;
    margin-top: -8px;
    opacity: 0.9;
}
.mbgf_main{
    background-color: #F5F5F5;
    border: 1px solid #E5E5E5;
    padding: 8px 8px 0;
}
.mbgf_sidebar{
    float: left;
    height: 100%;
    min-height: 500px;
    width: 180px;
}
.mbgf_sidebar h3:first-child{
    padding-top:30px;
}
.mbgf_sidebar h3{
    font-size:20px;
    padding: 15px 0px 6px 20px;
    margin:0px;
}
.mbgf_sidebar a{
    display: block;
    padding: 6px 0 6px 20px;
    width: 160px;
    border-radius: 3px 0px 0px 3px;
    text-decoration: none;
}
.mbgf_sidebar a.active{
    background-color:white !important;
    box-shadow: -4px 0 5px #CCCCCC;
}
.mbgf_sidebar a.mbgf_feed_deactivated{
    background: transparent url('images/yellow_button.png') no-repeat 5px 50%;
}
.mbgf_sidebar a.mbgf_feed_activated, .mbgf_sidebar a.mbgf_status_ok{
    background: transparent url('images/green_button.png') no-repeat 5px 50%;
}
.mbgf_sidebar a.mbgf_feed_incompatible{
    background: transparent url('images/red_button.png') no-repeat 5px 50%;
}
.mbgf_sidebar img.imageicon{
    width:10px;
    height:10px;
    margin-left:-15px;
    padding-right: 5px;
}
.mbgf_wrap{
    padding:20px;
    background-color:white;
    margin-left:180px;
    margin: 15px 20px 20px 180px;
    box-shadow: 0 0 5px #CCCCCC;
    min-height:200px;
}
.mbgf_wrap_header{
    height: 35px;
    margin:-20px -20px 0px -20px;
    padding:0px 20px;
    background-color:#f6f6f6;
    position:relative;
}
.mbgf_wrap_header h3{
    display: inline-block;
    font-size: 15px;
    margin: 11px 0 0;
    padding: 0 20px 0 0;
}
.mbgf_wrap_header h3 a{
    color:#909090;
    text-decoration: none;
}
.mbgf_wrap_header h3 a.active{
    color:#666666;
}
.mbgf_wrap_header h3 a:hover{
    color:#555555;
}
.mbgf_wrap_header .deactivate_button{
    position:absolute;
    top:5px;
    right:20px;
}
.mbgf_wrap h1:first-child, .mbgf_wrap h2:first-child, .mbgf_wrap h3:first-child, .mbgf_wrap h4:first-child{
    padding-top:0px;
    margin-top:0px;
}
.mbgf_wrap .form-table{
    clear:none;
}

/* Activation Screen */
#activate_feed{
    width:500px;
    margin: 100px auto;
}
#activate_feed .main_image{
    float: left;
    height: 200px;
    padding: 0;
}
.disclaimer{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 10px;
}
/* Styles for Plugin Option Pages */

/* This style is for an option that will be blabnk, but who's content will be loaded dynamically.*/

.ajax_option {
    
}
.ajax_option legend {
    text-transform: capitalize;
}

.optgrp {
    border-radius: 6px 6px 6px 6px;
    height: 100%;
    min-width: 400px;
    vertical-align: top;
    background: none repeat scroll 0 0 #F2F5F5;
    border: 1px solid #DDDDDD;
    margin: 0px 20px 20px 0px;
    padding: 5px 10px 10px;
}

@media screen and (min-width: 960px) {
    .optgrp {
        max-width: 500px;
        width: 100%;
        display:inline;
        display:inline-block;
    }
}

@media screen and (max-width: 960px) {
    .optgrp {
        display:block;
    }
}

.optgrp legend{
    color: #444444;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    margin: 3px 3px 3px 0;
    text-shadow: 0 1px 0 #FFFFFF;
}

.optgrp select {
    min-width: 200px;
}

.optgrp input[type=submit]{
    clear: both;
    float: right;
    margin-top: 20px;
}

.tooltip {
    vertical-align: middle;
}

#bug_report_top{
    float:right;
    width:24px;
    height:24px;
}

#bug_report_top img{
    width:24px;
    height:24px;
}

/* General Styles */
.round-3{
    border-radius: 3px 3px 3px 3px;
}
.top-round-3{
    border-radius: 3px 3px 0px 0px;
}
.clear{
    clear:both;
}
.hidden-step{
    display: none;
    opacity:0;
}
.ajax-loading-icon{
    display:none;
    margin-left: 5px;
    vertical-align: middle;
}
div.notice{
    display:none;
    padding:5px 5px;
}
.center{
    text-align: center;
    margin:auto;
}