#tw_obj_confirm{
    display: inline;
    display: inline-block;
    background:none;
}
#tw_obj_confirm h4{
    margin-bottom: 0;
    text-align: center;
}
#tw_obj_confirm #confirm_buttons{
    text-align: center;
}
.tw_obj{
    position:relative;
    min-height: 50px;
}
.tw_obj img{
    position:absolute;
    left:0px;
}
.tw_obj .obj_info{
    margin-left:56px;
}
.tw_obj .description{
    margin-top:10px;
    max-width: 300px;
}